/* variables */
/* maps */
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:ital,wght@1,100;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Header */
header {
  background-color: #6C7073;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .5rem; }
  header p {
    background-color: #D94A3D;
    border: 2px solid #D94A3D;
    padding: .25rem .75rem;
    border-radius: .2rem;
    font-weight: bold;
    margin-left: 15px;
    box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3); }
    header p:hover {
      background: transparent;
      border: 2px solid #D94A3D; }
    header p a {
      text-decoration: none;
      font-family: "Michroma", sans-serif;
      color: #FFFFFF; }
  header nav #check {
    display: none; }
  header nav label i {
    display: none; }
    header nav label i img {
      width: 30px;
      height: 30px;
      border-radius: 2px; }
  header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none; }
    header nav ul li {
      margin-right: 1.5rem;
      font-family: "Michroma", sans-serif;
      font-size: 1.1rem;
      font-weight: 600; }
      header nav ul li a {
        text-decoration: none;
        color: #FFFFFF;
        position: relative; }
        header nav ul li a:after {
          content: "";
          width: 0;
          height: 3px;
          background-color: #D94A4A;
          position: absolute;
          bottom: 0;
          right: 50%;
          transition: all .5s;
          will-change: width; }
        header nav ul li a:hover:after {
          width: 100%;
          right: 0; }

/* footer */
footer {
  font-family: #6C7073;
  color: #00080D; }
  footer p {
    text-align: center;
    padding: .3em;
    font-size: 1.2em; }
  footer div {
    text-align: center; }
    footer div a img {
      width: 4em;
      padding: 1em; }

/* background body */
body {
  background: #D2D6D9; }

/* index */
/* search bar */
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px; }
  .search-bar form {
    width: 25em;
    height: 1.5em;
    display: flex; }
    .search-bar form input {
      flex: 1;
      border: none;
      outline: none;
      text-align: center;
      font-size: 15px; }
    .search-bar form button {
      background: #D94A4A;
      text-align: center;
      padding: .25em 2em;
      border: none;
      outline: none;
      color: #FFFFFF;
      cursor: pointer;
      font-size: 15px;
      margin: auto; }

/* main */
.blackfriday {
  background-image: url("../assets/img/Fondo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.8em;
  text-align: center;
  max-width: 80%;
  margin: auto;
  padding: 1.5em;
  margin-top: .8em;
  text-transform: uppercase;
  box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3); }
  .blackfriday div img {
    width: 9.5em;
    margin: 2em 25em 0 0; }
  .blackfriday .BF-imgCard {
    width: 4.5em;
    margin-right: 25em; }
  .blackfriday div p {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    margin-right: 17em;
    font-weight: 600; }
  .blackfriday .BF-Button {
    font-size: large;
    font-family: "Roboto", sans-serif;
    width: 6em;
    height: 1.7em;
    border-radius: 7px;
    background: #FFFFFF;
    margin-right: 23em;
    border: 2px solid #FFFFFF;
    cursor: pointer; }
    .blackfriday .BF-Button:hover {
      color: #FFFFFF;
      transition: 0.3s ease-out;
      outline: 0;
      background: transparent; }

/* title y subtitle index */
.index-title {
  font-family: "Michroma", sans-serif;
  color: #00080D;
  font-size: 2.5em;
  margin: 30px 0 20px 0;
  text-align: center; }

.index-sub {
  padding: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  background: linear-gradient(to right, #00080D, #6C7073);
  margin: 1em; }
  .index-sub h2 {
    margin-left: 8%;
    font-size: 1.5em;
    font-family: "Michroma", sans-serif; }

/* secciones main-index */
.sections-index {
  box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
  padding: 20px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3em;
  background: rgba(0, 0, 0, 0.2); }
  .sections-index .sections-divs {
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3); }
    .sections-index .sections-divs img {
      width: 140px;
      height: 140px;
      margin: 1em; }
    .sections-index .sections-divs p {
      font-family: "Roboto", sans-serif;
      color: #00080D;
      font-size: 1.2em;
      font-weight: bold; }
    .sections-index .sections-divs button {
      width: 40%;
      height: 1.4em;
      background: linear-gradient(to right, #00080D, #6C7073);
      color: #FFFFFF;
      font-family: #00080D;
      font-size: 1em;
      border: none;
      margin: .5em;
      box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
      cursor: pointer; }
      .sections-index .sections-divs button:hover {
        color: #00080D;
        transition: ease-out .2s;
        background: transparent;
        border: 2px solid #D94A4A;
        font-weight: bold;
        width: 60%;
        height: 1.5em; }

.BTN-ver-todas {
  margin: 1em;
  text-align: center; }
  .BTN-ver-todas button {
    width: 20%;
    height: 2.5em;
    background: #00080D;
    color: #FFFFFF;
    border: 0;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
    cursor: pointer; }
    .BTN-ver-todas button:hover {
      width: 40%;
      height: 3em;
      color: #00080D;
      border: 3px solid #D94A4A;
      transition: ease-out .3s;
      background: transparent;
      font-weight: bold; }

/* logos */
.index-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  text-align: center;
  max-width: 60%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: #00080D;
  font-weight: 300;
  margin: 5em auto 3em auto; }
  .index-logos img {
    width: 4em; }

/* productos */
/* titulo y subtitulos*/
.productos-title {
  color: #00080D;
  font-family: "Michroma", sans-serif;
  font-size: 2.5em;
  margin: 30px 0 20px 0;
  text-align: center; }

.productos-subtitle {
  padding: 4px;
  text-transform: uppercase;
  background: linear-gradient(to right, #00080D, #6C7073);
  margin: 1em; }
  .productos-subtitle h2 {
    margin-left: 8%;
    font-size: 1.5em;
    font-family: "Michroma", sans-serif;
    color: #FFFFFF; }

/* secciones */
.section-one, .section-two, .section-three, .section-four, .section-five {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3em;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3); }
  .section-one div, .section-two div, .section-three div, .section-four div, .section-five div {
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3); }
    .section-one div img, .section-two div img, .section-three div img, .section-four div img, .section-five div img {
      width: 140px;
      height: 140px; }
  .section-one button, .section-two button, .section-three button, .section-four button, .section-five button {
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #00080D, #6C7073);
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    border: none;
    cursor: pointer; }
    .section-one button:hover, .section-two button:hover, .section-three button:hover, .section-four button:hover, .section-five button:hover, .section-one button :focus, .section-two button :focus, .section-three button :focus, .section-four button :focus, .section-five button :focus {
      color: #00080D;
      background: #D2D6D9;
      text-transform: uppercase;
      font-size: 1em;
      transition: ease-out .25s;
      border: 2px solid #D94A4A;
      outline: 0;
      font-weight: bold; }

/* preguntas frecuentes */
.preg-container {
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 60%;
  margin: auto;
  border-radius: 4px;
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 3em;
  font-family: "Roboto", sans-serif; }
  .preg-container h1 {
    font-family: "Michroma", sans-serif;
    font-size: 2.2em;
    color: #00080D;
    padding-bottom: .8em;
    text-transform: uppercase; }
  .preg-container .PTR {
    font-size: 1.3em;
    color: #00080D;
    font-weight: bold;
    margin-top: 1em; }
  .preg-container p {
    color: #FFFFFF;
    font-size: 1.1em; }

/* contacto */
.main-contacto {
  color: #00080D;
  font-family: "Roboto", sans-serif;
  padding: 0 1.5em; }
  .main-contacto .content {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em; }
    .main-contacto .content .contact-form h1 {
      font-size: 2em;
      text-transform: uppercase;
      margin: 2rem 0 2rem 0;
      font-family: "Michroma", sans-serif; }
    .main-contacto .content .contact-form form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0; }
      .main-contacto .content .contact-form form p {
        margin: 0;
        padding: 1em;
        font-weight: bold; }
      .main-contacto .content .contact-form form .block {
        grid-column: 1/-1; }
      .main-contacto .content .contact-form form textarea, .main-contacto .content .contact-form form input, .main-contacto .content .contact-form form button {
        width: 100%;
        padding: .5em;
        margin: .3em;
        border: none;
        background: none;
        border-bottom: 1px solid #D94A4A;
        color: #00080D; }
      .main-contacto .content .contact-form form button {
        background-color: #00080D;
        color: #FFFFFF;
        border: 0;
        text-transform: uppercase;
        padding: .7em;
        cursor: pointer; }
        .main-contacto .content .contact-form form button:hover, .main-contacto .content .contact-form form button :focus {
          color: #D94A4A;
          background: transparent;
          transition: .3s linear;
          font-size: 1.5em;
          outline: 0;
          font-weight: bold; }
    .main-contacto .content .contact-info h3, .main-contacto .content .contact-info ul {
      text-align: center;
      margin: 0 0 1rem 0; }
    .main-contacto .content .contact-info h3 {
      font-family: "Michroma", sans-serif;
      font-size: 1,5em; }
    .main-contacto .content .contact-info ul {
      list-style: none;
      padding: 0; }
      .main-contacto .content .contact-info ul li {
        padding: .5em;
        font-family: "Roboto", sans-serif; }

/* tablas de talles */
.title-talles {
  font-family: "Michroma", sans-serif;
  font-size: 2.3em;
  color: #00080D;
  padding-top: 1em;
  padding-bottom: .7em;
  text-transform: uppercase;
  text-align: center; }

.section-talles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding: 17px; }
  .section-talles .container-tabla {
    border: groove 2px #00080D;
    background-color: rgba(0, 0, 0, 0.4); }
    .section-talles .container-tabla h2 {
      background: linear-gradient(to right, #D94A4A, #00080D);
      text-align: center;
      font-size: 24px;
      padding: 6px;
      color: #FFFFFF; }
    .section-talles .container-tabla table {
      color: #FFFFFF;
      font-size: 16px;
      table-layout: fixed;
      border-collapse: collapse;
      text-align: center; }
    .section-talles .container-tabla thead {
      background: linear-gradient(to right, #00080D, #6C7073); }
    .section-talles .container-tabla th {
      padding: 8px 4px;
      font-weight: bold; }
    .section-talles .container-tabla td {
      padding: 12px;
      border-bottom: solid 1px; }

/* large screen*/
@media screen and (max-width: 1023px) {
  /* index */
  .p2 {
    display: none; }
  .sections-index .sections-divs img {
    width: 120px;
    height: 120px; }
  .BTN-ver-todas button {
    width: 30%; }
    .BTN-ver-todas button:hover {
      width: 40%; } }

/* medium screen */
@media screen and (max-width: 768px) {
  /* header */
  header #check:checked ~ ul {
    left: 0;
    transition: all .5s; }
  header nav label {
    display: block; }
    header nav label i {
      display: block;
      cursor: pointer;
      margin-right: 15px; }
      header nav label i img {
        filter: invert(1); }
  header nav ul {
    width: 100%;
    height: 100vh;
    display: block;
    position: fixed;
    top: 50px;
    left: -100%;
    background: #6C7073;
    right: 0; }
    header nav ul li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      margin: 0;
      border-bottom: 2px solid #D94A3D; }
      header nav ul li a {
        color: #FFFFFF; }
  /* index */
  .index-title {
    font-size: 1.6em; }
  .index-sub h2 {
    font-size: 1.1em; }
  .blackfriday div img {
    width: 4.7em;
    margin-right: 15em; }
  .blackfriday .BF-imgCard {
    width: 2.2em;
    margin-right: 15em; }
  .blackfriday div p {
    font-size: 1em;
    margin-right: 15em; }
  .blackfriday .BF-Button {
    width: 4.5em;
    height: 1.7em;
    font-size: 1em;
    margin-right: 15em; }
  .sections-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em; }
    .sections-index .sections-divs img {
      width: 100px;
      height: 100px; }
  .BTN-ver-todas button {
    width: 40%;
    padding: 10px; }
    .BTN-ver-todas button:hover {
      width: 50%; }
  .index-logos {
    max-width: 80%; }
    .index-logos img {
      width: 3em; }
  /* productos */
  .productos-title {
    font-size: 1.9em; }
  .productos-subtitle {
    font-size: 1em; }
  .section-one, .section-two, .section-three, .section-four, .section-five {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em; }
  /* preguntas frecuentes */
  .preg-container {
    max-width: 80%; }
    .preg-container h1 {
      font-size: 1.8em; }
  /* guia de tallas */
  .title-talles {
    font-size: 1.8em; } }

/* horizontal screen */
@media screen and (max-width: 480px) {
  /* index */
  .blackfriday {
    display: none; }
  .index-title {
    font-size: 1.6em; }
  .index-sub h2 {
    font-size: 1em; }
  .sections-index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em; }
    .sections-index .sections-divs img {
      width: 100px;
      height: 100px; }
  .BTN-ver-todas button {
    width: 60%; }
    .BTN-ver-todas button:hover {
      width: 80%; }
  .index-logos p {
    display: none; }
  /* productos */
  .productos-title {
    font-size: 1.5em; }
  .productos-subtitle {
    font-size: .8em; }
  /* preguntas frecuentes */
  .preg-container {
    max-width: 90%; }
    .preg-container h1 {
      font-size: 1.6em; }
  /* guia de tallas */
  .title-talles {
    font-size: 1.6em; }
  /* contacto */
  .contact-form h1 {
    font-size: 1.5em; } }

@media screen and (max-width: 320px) {
  /* productos */
  .section-one, .section-two, .section-three, .section-four, .section-five {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em; }
  /* preguntas frecuentes */
  .preg-container {
    max-width: 95%; }
    .preg-container h1 {
      font-size: 1.5em; }
  /* contacto */
  .main-contacto .content .contact-form h1 {
    font-size: 1.3em; }
  .main-contacto .content .contact-form form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0; }
  /* guia de tallas */
  .title-talles {
    font-size: 1.3em; }
  .section-talles .container-tabla h2 {
    font-size: 1.2m; }
  .section-talles .container-tabla table {
    font-size: .8em; } }
