/* footer */
footer{
    font-family: $color_font_secundario;
    color: $color_font_principal;
    div{
        margin-top: 1.8em;
        p{
            text-align: center;
            padding: .3em;
            font-size: 1.2em;
        }
    }
    div{
        text-align: center;
        a img{
            width: 4em;
            padding: 1em;
        }
    }
}