/* Header */
header{
    background: $back_header;
    nav ul{
        @include grid(5, 0);
        list-style: none;
        text-align: center;
        li{
            height: 2.4em;
            &:hover,
            &:focus{
                background: $back_hover;
            }
            a{
                text-decoration: none;
                font-size: 1.4rem;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
                align-items: center;
                color: map-get($map: $colors, $key: uno);
                font-family: $typo_titulos;
            }
        }
    }
}
