/* preguntas frecuentes */
.preg-container{
    background-color: map-get($map: $cristal, $key: decimo);
    max-width: 60%;
    margin: auto;
    border-radius: 4px;
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 3em;
    font-family: $typo_principal;
    h1{
        font-family: $typo_titulos;
        font-size: 2.2em;
        color: map-get($map: $colors, $key: uno);
        padding-bottom: .8em;
        text-transform: uppercase;
    }
    h3{
        font-size: 1.3em;
        color: map-get($map: $colors, $key: cinco);
        font-weight: 500;
    }
    p{
        color: map-get($map: $colors, $key: uno);
        font-size: 1.1em;
        margin-bottom: 1.2em;
    }
}