/* large screen*/
@media screen and (max-width: 1023px){
    /* index */
    .p2{
        display: none;
    }
    .sections-index{
        .sections-divs img{
            @include tamaño(120px, 120px);
        }
    }
    .BTN-ver-todas{
        button{
            width: 30%;
            &:hover{
                width: 40%;
            }
        }
    }
}

/* medium screen */
@media screen and (max-width: 768px){
    /* header */
    header{
        #check:checked ~ ul{
            left: 0;
            transition: all .5s;
        }
        nav{
            label{
                display: block;
                i{
                    display: block;
                    cursor: pointer;
                    margin-right: 15px;
                    img{
                        filter: invert(1);
                    }
                }
            }
            ul{
                @include tamaño(100%, 100vh);
                display: block;
                position: fixed;
                top: 50px;
                left: -100%;
                background: map-get($map: $colors, $key: tres);
                right: 0;
                li{
                    @include flex(row, center, center);
                    padding: 2rem;
                    margin: 0;
                    border-bottom: 2px solid #D94A3D;
                    a{
                        color: map-get($map: $colors, $key: uno);
                    }
                }
            }
        }
    }
    /* index */
    .index-title{
        font-size: 1.6em
    }
    .index-sub h2{
        font-size: 1.1em
    }
.blackfriday{
    div img{
        width: 4.7em;
        margin-right: 15em;
    }
    .BF-imgCard{
        width: 2.2em;
        margin-right: 15em;
    }
    div p{
        font-size: 1em;
        margin-right: 15em;
    }
    .BF-Button{
        @include tamaño(4.5em, 1.7em);
        font-size: 1em;
        margin-right: 15em;
    }
    
}

.sections-index{
    @include grid(2, 1em);
    .sections-divs img{
        @include tamaño(100px, 100px);
    }
}

.BTN-ver-todas{
    button{
        width: 40%;
        padding: 10px;
        &:hover{
            width: 50%;
        }
    }
}

.index-logos{
    max-width: 80%;
    img{
        width: 3em;
    }
}

/* productos */
.productos-title{
    font-size: 1.9em;
}

.productos-subtitle{
    font-size: 1em;
}

.section-one{
    @include grid(2, 1em);
}

/* preguntas frecuentes */
.preg-container{
    max-width: 80%;
    h1{
        font-size: 1.8em;
    }
}
/* guia de tallas */
.title-talles{
    font-size: 1.8em;
}
}
